p, h1, h2, h3 {
    text-align: center;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.mat-tab-label {
    color: black !important;
}

.empDetailsHeader {
    margin: 10px; text-align: center;
}

.empDetailsLeft {
    padding: 5px; color: black;
}

.empInfoBtn {
    margin-left: 5px;
}